@model IEnumerable<WoofChef.Models.TbExpediente>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Expediente</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/Expediente.css" asp-append-version="true" />
</head>
<body>
<h1>Expedientes Registrados</h1>

<p>
    <a asp-action="Create">Crear Expediente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dueño
            </th>
            <th>
                Mascota
            </th>
            <th>
                Descripción Mascota
            </th>
            <th>
                Enfermedades y Alergias
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDuenno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnfermedadesYalergias)
            </td>
            <td>
                <a class="btn-edit" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn-delete" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>