@model IEnumerable<WoofChef.Models.TbProducto>

@{
    ViewData["Title"] = "List";
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Producto</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/Expediente.css" asp-append-version="true" />
</head>
<body>
<h1>Productos</h1>

<p>
    <a asp-action="Create">Agregar Producto</a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Receta</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Receta</td>
                    <td>@item.Nombre</td>
                    <td>@item.Cantidad</td>
                    <td>
                        <a class="btn-edit" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a class="btn-delete" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center">No hay productos disponibles.</p>
}
</body>
</html>
